<!DOCTYPE html>
<html>
    <head>
        <title>무학 QR 챌린지!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
            
            div {
                max-width: 100%;
                margin: auto;
                font-family : 'Nanum Gothic';
            }
            img {
                max-width: 100%;
                height: auto;
            }
            h4 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <h4>🧡무학 QR 챌린지💚</h4>
            <p>이미 사용이 끝난 QR코드입니다. 😭😭</p>
            <p>다른 QR코드를 찾아주세요!</p>
        </div>
    </body>
</html>